body {
  background: #ededed;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #333;
}

.bar {
  /* fill: #2f0238; */
}

.bar:hover {
  fill: #fcfcfc
}

div.active {
  display: none;
}

#tooltip.active {
  display: flex;
  height: 80px;
  width: 150px;
  background: green;
  padding: 1em;
  align-items: center;
  position: absolute;
}

.inactive {
  display: none;
}